[project]
	description = This script parses through directories
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/LaRon Johnson (larunix)
[access "refs/for/refs/*"]
	read = group user/LaRon Johnson (larunix)
	push = group user/LaRon Johnson (larunix)
	label-Code-Review = -2..+2 group user/LaRon Johnson (larunix)
	label-Verified = -1..+1 group user/LaRon Johnson (larunix)
	rebase = group user/LaRon Johnson (larunix)
	removeReviewer = group user/LaRon Johnson (larunix)
	submit = group user/LaRon Johnson (larunix)
[access "refs/heads/*"]
	read = group user/LaRon Johnson (larunix)
	create = group user/LaRon Johnson (larunix)
	push = +force group user/LaRon Johnson (larunix)
	pushMerge = group user/LaRon Johnson (larunix)
[access "refs/tags/*"]
	push = +force group user/LaRon Johnson (larunix)
	pushTag = group user/LaRon Johnson (larunix)
	pushSignedTag = group user/LaRon Johnson (larunix)
